:root {
    --light-green: #04ddb2;
    --black: #333;
    --white:#fff;
    --gray: #767676;
}
* {
    /*fonts 400 500 700 900*/
    margin: 0;
    padding: 0;
    font-family: "Darker Grotesque", sans-serif;
}
header {
    display: flex;
    width: 100%;
    place-content: center space-between;
    background-color: hsla(0,0%,100%,.8);
    backdrop-filter: blur(5px);
    position: fixed;
}
.header-item {
    margin: 12px 30px;
    place-self: center;
}
.logo-header {
    width: 80px;
    height: 50px;
}
.icon-menu {
    border: none;
    border-radius: 50%;
    background-color: #eef0f2;
    padding: 8px;
    width: 20px;
    height: 20px;
}